@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/* Applying the selected Google fonts to the body */

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 170px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(235, 180, 17, 0.91),
    hsla(120, 30%, 31%, 0.8)
  )!important;
}


